:root {
  --border: solid #8C579C 5px;
  --bkg: #D8097E;
  --winner: #24468E;
}


.bookBracketGrid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100%;
  height: 80vmin;
  margin: auto;
  padding: 1rem;
}

.bookBracketGrid figure {
  width: 100%;
  height: 100%;
  margin: 0;
}
.bookBracketGrid figure img {
  height: 100%;
}


#round-1-1 {
  grid-column: 1/2;
  grid-row: 2/5;
  border-bottom: var(--border);
}
#round-1-2 {
  grid-column: 1/2;
  grid-row: 6/9;
  border-bottom: var(--border);
}
#round-2-1 {
  grid-column: 16/17;
  grid-row: 2/5;
  border-bottom: var(--border);
}
#round-2-2 {
  grid-column: 16/17;
  grid-row: 6/9;
  border-bottom: var(--border);
}
#round-3-1 {
  grid-column: 1/2;
  grid-row: 10/13;
  border-bottom: var(--border);
}
#round-3-2 {
  grid-column: 1/2;
  grid-row: 14/17;
  border-bottom: var(--border);
}
#round-4-1 {
  grid-column: 16/17;
  grid-row: 10/13;
  border-bottom: var(--border);
}
#round-4-2 {
  grid-column: 16/17;
  grid-row: 14/17;
  border-bottom: var(--border);
}
#round-5-1 {
  grid-column: 4/5;
  grid-row: 4/7;
  border-bottom: var(--border);
}
#round-5-2 {
  grid-column: 4/5;
  grid-row: 12/15;
  border-bottom: var(--border);
}
#round-6-1 {
  grid-column: 13/14;
  grid-row: 4/7;
  border-bottom: var(--border);
}
#round-6-2 {
  grid-column: 13/14;
  grid-row: 12/15;
  border-bottom: var(--border);
}
#round-7-1 {
  grid-column: 7/8;
  grid-row: 8/11;
  border-bottom: var(--border);
}
#round-7-2 {
  grid-column: 10/11;
  grid-row: 8/11;
  border-bottom: var(--border);
}
#round-8 {
  background-color: var(--winner);
  grid-column: 8/10;
  grid-row: 2/6;
  border-bottom: var(--border);
}

#lines-1-1 {
  grid-column: 2/3;
  grid-row: 4/5;
  border-bottom: var(--border);
}
#lines-1-2 {
  grid-column: 2/3;
  grid-row: 5/9;
  border-right: var(--border);
  border-bottom: var(--border);
}
#lines-1-3 {
  grid-column: 3/4;
  grid-row: 6/7;
  border-bottom: var(--border);
}
#lines-2-1 {
  grid-column: 15/16;
  grid-row: 4/5;
  border-bottom: var(--border);
}
#lines-2-2 {
  grid-column: 15/16;
  grid-row: 5/9;
  border-left: var(--border);
  border-bottom: var(--border);
}
#lines-2-3 {
  grid-column: 14/15;
  grid-row: 6/7;
  border-bottom: var(--border);
}
#lines-3-1 {
  grid-column: 2/3;
  grid-row: 12/13;
  border-bottom: var(--border);
}
#lines-3-2 {
  grid-column: 2/3;
  grid-row: 13/17;
  border-right: var(--border);
  border-bottom: var(--border);
}
#lines-3-3 {
  grid-column: 3/4;
  grid-row: 14/15;
  border-bottom: var(--border);
}
#lines-4-1 {
  grid-column: 15/16;
  grid-row: 12/13;
  border-bottom: var(--border);
}
#lines-4-2 {
  grid-column: 15/16;
  grid-row: 13/17;
  border-left: var(--border);
  border-bottom: var(--border);
}
#lines-4-3 {
  grid-column: 14/15;
  grid-row: 14/15;
  border-bottom: var(--border);
}
#lines-5-1{
  grid-column: 5/6;
  grid-row: 6/7;
  border-bottom: var(--border);
}
#lines-5-2 {
  grid-column: 5/6;
  grid-row: 7/15;
  border-right: var(--border);
  border-bottom: var(--border);
}
#lines-5-3 {
  grid-column: 6/7;
  grid-row: 10/11;
  border-bottom: var(--border);
}

#lines-6-1{
  grid-column: 12/13;
  grid-row: 6/7;
  border-bottom: var(--border);
}
#lines-6-2 {
  grid-column: 12/13;
  grid-row: 7/15;
  border-left: var(--border);
  border-bottom: var(--border);
}
#lines-6-3 {
  grid-column: 11/12;
  grid-row: 10/11;
  border-bottom: var(--border);
}

#lines-7-1{
  grid-column: 8/9;
  grid-row: 6/11;
  border-bottom: var(--border);
  border-right: var(--border);
}
#lines-7-2{
  grid-column: 9/10;
  grid-row: 10/11;
  border-bottom: var(--border);
}

.bookBracketInfo {
  grid-column: 6/12;
  grid-row: 11/17;
  background-color: var(--winner);
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--bkg) 0px 0px 15px;
  border-radius: 15px;
  text-align: center;
  vertical-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.bookBracketInfo a {
  color: yellow;
}
.bookBracketInfo * {
  margin: auto;
}
.bookBracketInfo h2 {
  font-family: 'Patrick Hand SC', sans-serif;
  font-size: 2rem;
}
.bookBracketInfo span {
  font-size: 1.4rem;
}
.bookBracketInfo span:first-of-type,
.bookBracketInfo span:last-of-type {
  font-size: 2rem;
}
