@charset "UTF-8";
/* Cool stuff */
/* buttons */
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);


/* colors */
:root {
--gray1: #202226;
--gray2: #292b30;
--gray3: #303136;
--gray4: #8e9297;
--white: #ffffff;

  --star-size: 35px;
  --star-color: #fff;
  --star-background: #fc0;
}
html {
  color: var(--gray1);
}


body {
  overflow-x:hidden;
}
hr {
  display: block;
  margin: auto 15px;
  border: none;
  border-top: solid 1px #ffffff44;
}
.btn, button {
  font-family: 'Patrick Hand SC', cursive;
  cursor: pointer;
}

.btn {
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #41403E;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
}
.border {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.btn:hover, .btn:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
.btn.lined.thick, .btn.lined.thick {
  border: solid 5px #fff;
}
.btn.dotted.thick, .btn.dotted.thick {
  border: dotted 5px #41403E;
}
.btn.dashed.thick, .btn.dashed.thick {
  border: dashed 5px #41403E;
}
.btn.lined.thin, .btn.lined.thin {
  border: solid 2px #fff;
}
.btn.dotted.thin, .btn.dotted.thin {
  border: dotted 2px #41403E;
}
.btn.dashed.thin, .btn.dashed.thin {
  border: dashed 2px #41403E;
}


* {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0;
  background-color: teal;
  color: #fff;
  min-height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
}
.wrapper {
  grid-template-rows: 117px auto auto auto;
}
main {
  margin: 0 20px 20px 20px;
}
#logo {
  font-size: 40px;
  font-family: 'Patrick Hand SC', cursive;
  padding: 5px 0 0 20px;
  margin: 0;
  height: 70px;
  background-color: teal;
}
#logo a {
  text-decoration: none;
  color: inherit;
}
@media (max-width:360px) {
  #logo {
    font-size: 30px;
    padding: 18px 0 0 20px;
  }
}

/* Navigation */

.menu {
  background-color: yellow;
  display: block;
  width: 100%;
  height: 94px;
  margin: 0;
}
.menu a {
  display: inline-block;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: 'Patrick Hand SC', cursive;
}
@media (min-width:533px) {
  .menu {
    height: 47px;
  }
}










 .shortacctbtn {
   display: none;
 }
 .header-login * {
   display: inline-block;
   margin-left: 15px;
   text-decoration: none;
 }
 .profile-btn {
   font-size: 1rem;
   padding: 5px;
   color:#fff;
 }
 .logout-btn {
   margin-left: -10px;
 }

  /*End Navigation */
  .header-login-btn {
    display: none;
    float: right;
    font-size: 22px;
    padding: 7px 20px;
    margin-top: 11px;
    color: #fff;
    cursor: pointer;
  }
  .header-account-btn {
    display: none;
    float: right;
    font-size: 0;
    padding: 0px 0px;
    margin-top: 16px;
    color: #fff;
    cursor: pointer;
  }
@media screen and (max-width:999px) {
  .header-login {
    position: absolute;
    top: 10px;
    right: 0;
    display: none;
    background-color: #000000;
    text-align: center;
    margin: 15px 25px;
    width: 300px;
  }
  .header-login-btn {
    display: inline-block;
  }
  .header-account-btn {
    display: block;
  }
  .shortacctbtn {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 17px;
  }
  .header-login input,
  .header-login button {
    display: block;
    padding: 5px;
    margin: 15px auto;
    font-family: 'Patrick Hand SC', cursive;
    width: 250px;
    color: #fff;
  }
  .header-login input {
    font-size: 20px;
    color: #000;
  }
  .header-login a {
    border: solid;
  }
  .open {
    display: inline-block;
    z-index: 500 !important;
  }
  .open > form {
    margin: 0;
  }
}
@media screen and (max-width:590px) {
  .header-login {
    margin: 80px 25px;
  }
}
.forgot-pwd-desktop {
  display: none;
}
.forgot-pwd-mobile {
  padding-top: 3px;
  margin-bottom: 15px;
  color: #fff;
  text-decoration: underline;
  display: block;
  border: none !important;
}
.forgot-pwd-desktop:hover {
  color: #fff900;
}
@media screen and (min-width:1000px) {
  .header-login {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    height: 45px;
  }
  .signin {
    display: flex;
  }
  a.signup {
    border: solid;
    font-size: 20px;
    text-decoration: none;
    padding: 9px;
    height: 50px;
    width: 80px;
    margin: 0;
    color: #fff;
  }
  .signin input {
    font-size: 20px;
    font-family: 'Patrick Hand SC', cursive;
    height: 35px;
    width: 250px;
    border: none;
  }
  .signin button {
    font-size: 20px;
    padding: 3px;
    padding-bottom: 7px;
    height: 35px;
    width: 80px;
    margin: 0;
    margin-left: 20px;
    margin-top: -21px;
    color: #fff;
    border-color: #fff;
  }
  .forgot-pwd-desktop {
    padding-top: 3px;
    color: #fff;
    text-decoration: underline;
    display: block;
  }
  .forgot-pwd-desktop:hover {
    color: #fff900;
  }
  .vertical-pwd-grid > * {
    display: block;
  }
  .forgot-pwd-mobile {
    display: none;
  }
}



/* Home page */

main {
  display: flex;
  min-height: calc(100vh - 122px - 135px);
}
#main {
  width: 100%;
}
.wrapper {
  background-position: center;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}
.card {
  margin: auto;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 50px;
  width:340px;
  background-image: url('../img/colors.jpg');
}
.card h2 {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Patrick Hand SC', cursive;
}
.card h3 {
  font-size: 1.7em;
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Patrick Hand SC', cursive;
}
.card input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;
}
.card .error {
  font-family: 'Patrick Hand SC', cursive;
  background-color: darkred;
}
.signup button {
  font-size: 18px;
  padding: 10px;
  background-color: lightblue;
}

/* Home page Currently Reading */
.currenty-reading > .cur-text {
  font-family: 'Patrick Hand SC', cursive;
}
.currenty-reading > .cur-text > * {
  margin: 0;
}
.currenty-reading a {
  color: #fff;
}
.currenty-reading .cur-text h4 {
  text-decoration: underline;
  font-size: 15px;
  margin-top: 10px;
}
.currenty-reading .cur-text h5 {
  font-size: 18px;
  margin-bottom: 15px;
}
.currenty-reading .cur-text h5 > span {
  text-decoration: underline;
  background-color: yellow;
  color: #000;
  padding: 0 3px;
}
.currenty-reading > .book-cover-cur {
  display: flex;
  width: 100px;
  margin: 0 0 0 10px;
}
.currenty-reading > .book-cover-cur {
  margin: 0 auto;
}
.header-feature {
  display: block;
  background-color: #0eb3b3;
  text-align: center;
  text-transform:uppercase;
  padding: 50px 0;
}
.header-feature > h1 {
  font-size: 2.5em;
  font-family: 'Patrick Hand SC', cursive;
  margin: 0;
}
.header-feature > h2 {
  font-size: 0.9em;
  font-family: 'Patrick Hand SC', cursive;
  margin: 0;
}
@media (min-width:533px) {
  .header-feature {
    display: block;
    background-color: #0eb3b3;
    text-align: center;
    text-transform:uppercase;
    padding: 50px 0;
  }
  .header-feature > h1 {
    font-size: 5em;
    font-family: 'Patrick Hand SC', cursive;
    margin: 0;
  }
  .header-feature > h2 {
    font-size: 1.75em;
    font-family: 'Patrick Hand SC', cursive;
    margin: 0;
  }
  .currenty-reading > .book-cover-cur {
    display: flex;
    width: 100px;
    margin: 0 0 0 10px;
  }


  #main-view {
    width: 100%;
    display:flex;
  }
  .currenty-reading {
    margin: 50px auto;
  }
  .cur-text {
    display: inline-block;

  }
  .currenty-reading .cur-text h4 {
    font-size: 25px;
  }
  .currenty-reading .cur-text h5 {
    font-size: 27px;
  }
  .currenty-reading .cur-text h5 > span {
    font-size: 30px;
  }
  .currenty-reading > .book-cover-cur {
    display: inline-block;
  }


}
.discord {
  display: inline-block;
  border: solid white;
  color: white;
  font-size: 1.3em;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
}
.upgoalbtn {
  display: block;
}
.upgoalbtnhide {
  display: none;
}
.updategoal {
  display: none;
}
.updategoalshow {
  display: block;
}
.uppgnum {
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
}
.updatepages {
  font-size: 22px;
  padding: 3px 15px;
  color: #fff;
  cursor: pointer;
}

/* END: Home page Currently Reading */








/* Stream */

.postbox {
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 150px;
  grid-template-rows: 50px auto 50px;
  grid-gap: 10px;
  grid-template-areas: "pb-img pb-name pb-name"
                       "pb-text pb-text pb-text"
                       ". . pb-button";
  padding: 10px;
  background-color: var(--gray2);
}
.postbox__img {
  grid-area: pb-img;
  width: 100%;
  border-radius: 50%;
  padding: 5px;
}
.postbox__name {
  grid-area: pb-name;
  margin: auto 0;
  font-size: 17px;
}
.postbox__text {
  grid-area: pb-text;
  font-size: 15px
}
.postbox__submit {
  grid-area: pb-button;
  font-size: 18px;
  border-radius: 50px;

}


.post {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px auto 150px;
  grid-template-rows: 50px auto;
  grid-gap: 10px;
  grid-template-areas: "p-img p-name p-name"
                       "p-text p-text p-text"
                       "p-buttons p-buttons p-buttons"
                       "p-comments p-comments p-comments"
                       "p-comm p-comm p-comm";

  padding: 10px;
  background-color: var(--gray2);
}

.post__img {
  grid-area: p-img;
  width: 100%;
  width: 50px; height:50px;
  border-radius: 50%;
  padding: 5px;
}
.post__name {
  grid-area: p-name;
  margin: auto 0;
  font-size: 17px;
}
.post__text {
  grid-area: p-text;
  font-size: 15px;
  margin:10px;
}
.post__buttons {
  grid-area: p-buttons;
  display: flex;
}
.post__buttons button,
.commentButton button {
    font-size: 1.3em;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 50px;
}

.commentButton {
  display: flex;
  width: 100%;
}
.commentButton button {
  margin: auto 0 auto auto;
}
.post__buttons span {
  vertical-align: middle;
}
.post__comment_area {
  grid-area: p-comments;
  display: none;
}
.openComment {
  display: block;
}
.post__num-liked {
  display: inline-block;
  margin: auto;
  margin-right: 0;
}
.post__comment_area > textarea {
  width: 100%;
  min-height: 40px;
  font-size: 1.3em;
}
.postComments {
  grid-area: p-comm;

}
.postComments > .post {
  grid-gap: 0;
  border-left: 2px solid red;
}
.postComments > .post > .post__name {
  margin-left: 10px;
}
.comment-title {
  display: block;
  margin: 10px 0 0 10px;
  font-size: 1.4em;
}





















/* End Stream */





/* Begin: Members */
.sb-container {
  margin: 20px auto;
  display: block;
  width: 100%;
  max-width: 1025px;
}
.user-card {
  background-color: #0eb3b3;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
}
.user-card > img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.user-card > .user-info {
  margin-left: 20px;
}
.user-card > .user-info > a {
  color: #fff;
  text-decoration: none;
}
.user-card > .user-info > a > * {
  margin: 0;
}
.user-card > .user-info > a > h1 {
  font-size: 1.5em;
  font-family: 'Patrick Hand SC', sans-serif;
}
.user-card > .user-info > a > h3 {
  margin-top: 5px;
  font-weight: normal;
}
.usercard {
  background-color: #222831;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}
@media (max-width: 649px) {
  .usercard {
    margin-bottom: 10px;
  }
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px #0eb5b5;
}


.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.usercard .btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-size: 1.3rem;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
  text-decoration: none;
  text-align: center;
}

.usercard .btn:focus {
  outline: 2px dotted #55d7dc;
}
@media (min-width:650px) {
  .member-list > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
}
@media (min-width:1000px) {
  .member-list > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }
}


/* END: Members */





/* BEGIN: New Book */
.newbook {
  padding: 10px;
}
.newbook > form > input {
  display: block;
  width: 100%;
  font-size: 22px;
  font-family: 'Patrick Hand SC', sans-serif;
  text-align: left;
  padding: 15px;
  border-radius: 100px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.newbook > form > label {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: -45px;
  padding: 20px;
  padding-bottom: 45px;
  border-radius: 20px;
  color: #000;
  width: 213px;
  display: block;
}

.newbook > form > input[type="file"] {
  background: #fff;
  border: none;
  border-radius: 100px;
  color: #000;
  cursor: pointer;
  display: inline-block;
	font-family: 'Patrick Hand SC', sans-serif;
	font-size: inherit;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.newbook > form > .hidden {
  display: none;
}

.newbook > form > button {
  color: #fff;
  border-color: #fff;
}



/* END: New Book */


/* BEGIN: Book History */

.book-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}
.book-grid > .book {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  color: #000;
}
.book-grid > .book > a {
  color: #000;
  text-decoration: none;
}
.book-grid > .book > a > * {
  padding: 0 10px;
  margin: 0;
}
.book-grid > .book > a > img {
  width: 100%;
  padding: 0;
}
.book-grid > .book > a > h2 {
  font-size: 1em;
}
.book-grid > .book > a > h3 {
  font-size: 0.8em;
  margin-top: 7px;
}
.book-grid > .book > a > p {
  font-size: 0.7em;
  margin-top: 7px;
  margin-bottom: 10px;
}

@media (min-width:600px) {
  .book-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width:720px) {
  .book-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width:900px) {
  .book-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width:1000px) {
  .book-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}






/* END: Book History */








/* BEGIN: Book Details */
.groupPhotoBook {
  width: 100%;
  height: calc((1080 / 1920) * 100vw);
  max-height: calc((1080 / 1920 * 1025px));
  background-size: cover;
}


.bp-grid {
  margin-top: -120px;
  width: 100%;
}
.bp-grid > .book-cover {
  width: 100%;
  display: flex;
}
.bp-grid > .book-cover > img {
  width: 150px;
  margin: 10px auto 0 auto;
}





.avg-rating {
  height: 20px;
  margin: 10px;
  text-align: center;
}
.avg-rating > .stars {
  font-size: 1.2em;
}
.to-rate {
  display: flex;
}
.rating {
  margin: auto;
  width: 160px;
  text-align: center;
}
.rating > span { float:right; position:relative;
}
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    color:#F90;
}
.edit-rate-btn {
  margin: 15px auto 15px auto;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.3em;
}









.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.star-rating {
  display: flex;
}

.star-rating label {
  font-size: 25px;
  padding: 0 5px;
}

.star-rating label[for=star1] {
  order: 1;
}

.star-rating label[for=star2] {
  order: 2;
}

.star-rating label[for=star3] {
  order: 3;
}

.star-rating label[for=star4] {
  order: 4;
}

.star-rating label[for=star5] {
  order: 5;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #999;
  transition: 0.1s;
}

.star-rating label.selected,
.star-rating label.selected ~ label {
  color: gold;
  font-weight: 900;
}

.star-rating label[for^=star]:hover, /* - CSS overrides are fun - */
.star-rating label:hover ~ label {
  color: #666;
  font-weight: 900;
}










.bp-grid > .book-cover > img {
  width: 180px;
}
.book-details {
  padding: 2px 10px 0 10px;;
}
.book-details h1 {
  font-size: 1.4em;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1.2px;
  margin: 20px auto 10px auto;
}
.book-details > span {
  display: block;
  margin: 10px 0;
  text-align: center;
}
.book-details a {
  color: #fff;
}
.edt-btn-fix {
  display: flex;
}
.edit-book-btn {
  margin: 10px auto 15px auto;
  padding: 10px 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.3em;
}
.book-comments {
  margin: 10px;
}
.new-comment {
  padding: 5px;
  background-color: lightblue;
  color: #000;
}
#newcmtimg {grid-area: newcmtuserimage;}
#newcmtprourl {display: none;}
#newcmtusername-hidden {display: none;}
#newcmtusername {grid-area: newcmtusername;}
#newcmtbookid {display: none;}
#newcmttext {grid-area: newcmttext;}
.createcmt {
  grid-area: createcmt;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  text-align: right;
  padding-right: 10px;
}
.createcmt > button {
  font-size: 1em;
  padding: 2px 10px;
  color: #000;
  border: #000 solid 2px !important;
}
.newcmt {
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-areas: "newcmtuserimage newcmtusername"
  "newcmtuserimage newcmttext"
  "newcmtuserimage createcmt";
  grid-gap: 10px;
}
#cmtimg{grid-area:cmtimg}
#cmtusr{grid-area:cmtusr}
.cmttxt{grid-area:cmttxt;}
.comments-stream {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: #000;
}

.comment-item {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50px auto;
  grid-template-areas: "cmtimg cmtusr"
  "cmtimg cmttxt";
  margin: 8px 0;
}









.comment-profilepic {
  width: 50px;
  height: 50px;
}
.spoiler {
  background-color: #000;
  color: #000;
}
.spoiler:active {
  color: #000;
  background-color: transparent;
}



@media (min-width: 800px) {
  .edit-coverphoto {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .edit-coverphoto div {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .edit-coverphoto div form {
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .edit-coverphoto div form div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  .edit-coverphoto div form div input {
    font-size: 22px;
  }
}




















/* END: Book Details */









.hidden {
  display: none;
}
footer {
  position:relative;
  margin: 50px 0 0 0;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  background-color: #195656;
}






/* Administrator Styles */
.b-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.b-grid > .good {
  background-color: #00c700;
  color: #fff;
}
.b-grid > .bad {
  background-color: #dc0202;
  color: #fff;
}
.admin-announcement {
  width: 100%;
}
.admin-announcement > form > textarea {
  width: 100%;
  display: block;
  font-size: 1.2em;
  padding: 10px;
}
.admin-announcement > form > div > button {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.5em;
}
.bookworm-msg {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    border: seagreen solid 9px;
    color: #000;
    padding: 26px 30px 24px 29px;
    max-width: 300px;
    border-radius: 30px;
    margin: 80px 60px;
    transform: scale3d(0, 0, 0);
    animation-name: bookworm-msg;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    z-index: 1000;

}
.bookworm-msg::before {
    content: "";
    background-image: url('../icons/sb-64.png');
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    top: -45px;
    border: seagreen solid 9px;
    left: -45px;
}
.success {
  border: seagreen solid 9px;
}
.error {
  border: firebrick solid 9px;
}
.announcement {
  border: red solid 9px;
  animation-duration: 12s;
}
@keyframes bookworm-msg {
  0% {
    transform: scale3d(0, 0, 0);
    opacity: 1;
    right: 0;
  }
  3% {
    transform: scale3d(1, 1, 1);
  }
  70% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    right: 0;
  }
  80% {
    opacity: 0;
  }
  99% {
    transform: scale3d(0, 0, 0);
    right: -400px;
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}





/* Bottom Navigation */

.nav {
  left: 0;
}

/* @media (max-width: 900px) { */
  .menu {
    display: none;
  }
  .nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 55px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background-color: #202226;
      display: flex;
      overflow-x: auto;
      border-radius: 20px 20px 0 0;
      z-index: 1000;
  }

  .nav__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      min-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      font-family: sans-serif;
      font-size: 13px;
      color: #8e9297;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.1s ease-in-out;
  }

  .nav__link:hover {
      background-color: var(--gray2);
  }

  .nav__link--active {
      color: var(--white);
  }

  .nav__icon {
      font-size: 18px;
  }
@media (min-width:900px) {
  .nav {
    left: 0;
    width: 100px;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 0 20px 20px 0;
  }
  .nav__link {
      flex-grow: 0;
      padding: 15px;
      font-size: 16px;
  }
  .nav__link:hover {
    color: #fff;
  }
  .nav__icon {
    font-size: 30px;
  }

}

.editmode {display: none;}
