.new-profile-grid {
  margin: 0 30px;
}
.book-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.profile-intro{grid-area:intro;}
.coverphoto{grid-area:fphoto;background-size: cover;}
.about-info{grid-area:info;}
.stream{grid-area:stream;}
.books-suggested{grid-area:books;}
.extras{grid-area:extras;}

/*Edit profile page*/



@media (min-width:375px) {
  .coverphoto {
    width: 100%;
    height: 200px;
  }
}
@media (min-width:600px) {
  .coverphoto {
    width: 100%;
    height: 250px;
  }

  .new-profile-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "intro fphoto fphoto"
                         "info stream books"
                         "extras stream books"
  }



}
@media (min-width:1000px) {
  .coverphoto {
    width: 100%;
    height: 400px;
  }

}
